@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	/*border: 2px dashed black; /* ilustrativo */
	height: 5000px; /* Ilustrativo */
	width: 1024px;
	margin: 0 auto;
	padding: 4px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}

header {
	/*border: 2px dotted black; /* ilustrativo */
	height: 270px;
	background-image: url("../img/header_logo.jpg");
	background-repeat: no-repeat;
	background-position: bottom; 

}

/* Tudo relacionado a NAV */

nav {
	border: 5px solid #aa0000; 
	border-radius: 10px;
	padding: 4px; 
	position: absolute;
	width: 1006px;
	height: 52px;
	background-color: white;
}

/* CSS efeito do Menu Fixo do JQuery */
.menu-fixo {
	position: fixed;
	z-index: 999;
	top: 0;
}

nav div#little_logo {
	/*border: 2px solid black; /* ilustrativo */
	display: inline-block;
	background-image: url("../img/little_logo.jpg");
	background-repeat: no-repeat;
	height: 35px;
	width: 330px;
	font-size: 20px;
	color: #aa0000;
	padding-left: 55px;
	padding-top: 15px; 
}


nav ul.menu{
	/*border: 2px solid black; /* ilustrativo */
	display: inline-block;
	position: relative;
	left: 140px; /* Mesmo valor do PADDING da NAV por questão estética */
	margin-top: 16px;
}

nav ul.menu li {
	/*border: 1px solid black; /* ilustrativo */
	display: inline;
	padding: 6px;	
	font-size: 18px;
	height: 20px; 
	color: white;
}

nav ul.menu li a {
	/*border: 1px solid black; /* ilustrativo */
	padding: 20px 10px 20px 10px;
	text-decoration: none;
	color: #aa0000;
	margin-left: -17px;
}

nav ul.menu li a:hover {
	background-color: #aa0000;
	color: white;  
	/*background-image: url("../img/underline.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 2px;*/
}


nav ul.menu li a.selected {
	background-color: #aa0000;
	color: white;
	/*background-image: url("../img/underline.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 2px;*/
}

/* SECTION do conteúdo da página */

section {
	border: 2px solid black;
}
