@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

body {
	/*border: 2px dashed black; /* ilustrativo */
	/*height: 5000px; /* Ilustrativo */
	width: 1024px;
	margin: 0 auto;
	padding: 4px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
}

header {
	/*border: 2px dotted black; /* ilustrativo */
	height: 270px;
	background-image: url("../img/header-logo.jpg");
	background-repeat: no-repeat;
	background-position: bottom; 
	margin-bottom: 10px; 
}

/* Tudo relacionado a NAV */

nav {
	border: 5px solid #aa0000; 
	border-radius: 10px;
	padding: 4px; 
	position: fixed;
	width: 1006px;
	height: 52px;
	background-color: white;
	z-index: 999;
}

nav div#little-logo {
	/* border: 2px solid black; /* ilustrativo */
	display: inline-block;
	background-image: url("../img/little-logo.jpg");
	background-repeat: no-repeat;
	height: 35px;
	width: 330px;
	font-size: 20px;
	color: #aa0000;
	padding-left: 55px;
	padding-top: 15px; 
}

nav div#little-logo a{
	text-decoration: none;
	color: #aa0000;
}


nav ul.menu{
	/*border: 2px solid black; /* ilustrativo */
	display: inline-block;
	position: relative;
	left: 140px; /* Mesmo valor do PADDING da NAV por questão estética */
	margin-top: 16px;
}

nav ul.menu li {
	/*border: 1px solid black; /* ilustrativo */
	display: inline;
	padding: 6px;	
	font-size: 18px;
	height: 20px; 
	color: white;
}

nav ul.menu li a {
	/*border: 1px solid black; /* ilustrativo */
	padding: 20px 10px 20px 10px;
	text-decoration: none;
	color: #aa0000;
	margin-left: -20px;
}

nav ul.menu li a:hover {
	background-color: #aa0000;
	color: white;  
	/*background-image: url("../img/underline.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 2px;*/
}


nav ul.menu li a.selected {
	background-color: #aa0000;
	color: white;
	/*background-image: url("../img/underline.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	padding-bottom: 2px;*/
}







/* CSS REFERENTES, SEPARADAMENTE, A TODAS AS PAGINAS DO SITE */

/* SECTION do conteúdo da página de INICIO */

section.conteudo-inicio {
	/*border: 2px solid black; /* Ilustrativo */
	/*height: 4000px; /* Ilustrativo */
	padding: 4px;
	position: relative;
}

/* Pequeno menu GOVERNO e alguma funcionalidades do pequeno MENU SERVIÇOS */

section.conteudo-inicio div.governo {
	border: 2px solid black;
	border-radius: 10px; 
	display: inline-block;
	padding: 4px;
	background-color: #aa0000;
	color: white;
	margin: 4px 0 0 4px; 
	float: left; 
}

section.conteudo-inicio div.governo p, section.conteudo-inicio div.servicos p {
	/*border: 2px solid black; /* ilustrativo */
	display: inline-block;
	margin-bottom: 4px;
	margin-left: 32px;
	font-size: 18px; 
}

section.conteudo-inicio div.governo ul, section.conteudo-inicio div.servicos ul {
	/*border: 2px solid black; /* ilustraivo */
	list-style: none;
	padding: 2px;
}

section.conteudo-inicio div.governo ul li, section.conteudo-inicio div.servicos ul li {
	/*border: 2px solid black; /* ilustraivo */
	font-size: 16px;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom: 4px;
}

section.conteudo-inicio div.governo ul li a, section.conteudo-inicio div.servicos ul li a {
	border: 2px solid black;
	border-radius: 10px;
	text-decoration: none;
	background-color: white;
	color: black;
	display: inline-block;
	width: 140px;
	padding: 4px;
}

section.conteudo-inicio div.governo ul li a:hover, section.conteudo-inicio div.servicos ul li a:hover {
	background-color: #c0c0c0;
}


/* Pequeno menu SERVIÇOS */
/* Algumas funcionalidades estão no CSS do pequeno MENU GOVERNO */

section.conteudo-inicio div.servicos { /* modificado */
	border: 2px solid black;
	border-radius: 10px; 
	display: inline-block;
	padding: 4px;
	background-color: #aa0000;
	color: white;
	position: absolute;
	right: 4px;
	margin: 4px 4px 0 0; 
	float: right; 
}


/* Texto de Apresentação */
section.conteudo-inicio div.apresentacao {
	/*border: 1px solid black; /* Ilustrativo 
	border-radius: 10px;*/
	display: inline-block;
	width: 550px;
	text-align: center; /* Está afetando somente o H1 */
	font-size: 18px; /* Está afetando somente o H1 */
	margin: 4px 0 0 56px;
	padding: 6px 4px 4px 4px;
}

section.conteudo-inicio div.apresentacao p#para1, section.conteudo-inicio div.apresentacao p#para2 {
	text-align: justify;
	font-size: 16px;
	margin-top: 8px;
	text-indent: 20px;
}


/* Noticia destaque */
div.noticias-destaque {
	/*border: 1px solid black; /* ilustrativo */
	display: block;
	margin: 20px 0 0 0;
	padding: 6px 4px 4px 4px;
}

div.noticias-destaque h1 {
	border: 2px solid black;
	border-radius: 10px;
	background-color: #aa0000;
	color: white;
	padding: 4px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 2px;
}

/* Destaque 1 */
div.noticias-destaque div#destaque1 {
	border-bottom: 2px solid black;
	background-image: url("../img/noticias/destaque/noticia-destaque1.jpg");
	background-repeat: no-repeat;
	background-position: left;
	height: 120px;
	padding: 10px 0 10px 270px;
}

div.noticias-destaque div#destaque1 a, div.noticias-destaque div#destaque2 a {
	text-decoration: none;
	color: black;
	font-size: 18px;
}

div.noticias-destaque div#destaque1 a:hover, div.noticias-destaque div#destaque2 a:hover {
	text-decoration: underline;
}

div.noticias-destaque div#destaque1 p, div.noticias-destaque div#destaque2 p {
	text-indent: 20px;
	margin-top: 20px;
	text-align: justify;
	width: 650px;
	font-size: 14px; 
}

/* Destaque 2 */

div.noticias-destaque div#destaque2 {
	border-bottom: 2px solid black;
	background-image: url("../img/noticias/destaque/noticia-destaque2.jpg");
	background-repeat: no-repeat;
	background-position: left;
	height: 120px;
	padding: 10px 0 10px 270px;
}





/* Imagems próximas ao rodapé */
/* Não irei mexer na imagem1 pois ele já está no lugar certo */
div.little-imgs img#img2, div.little-imgs img#img3, div.little-imgs img#img4 {
	margin: 0 auto;
	margin-left: 109px;
}

/* ^^^^^^^^ */





/* Página "Notícias" */
section.conteudo-noticias {
	padding: 4px;
	position: relative;
}

section.conteudo-noticias h1 {
	border: 2px solid black;
	border-radius: 10px;
	background-color: #aa0000;
	color: white;
	padding: 6px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 2px;
}

div.noticias {
	display: block;
	padding: 6px 4px 4px 4px;
}

/* Noticias 1 e CSS's abaixo estão tbm aplicado em outras noticias */
div.noticias div#noticia1 {
	border-bottom: 2px solid black;
	background-image: url("../img/noticias/noticia1.jpg");
	background-repeat: no-repeat;
	background-position: left;
	height: 120px;
	padding: 10px 0 10px 270px;
} /* GG */

div.noticias div#noticia1 a, div.noticias div#noticia2 a, div.noticias div#noticia3 a,
div.noticias div#noticia4 a, div.noticias div#noticia5 a, div.noticias div#noticia6 a
{
	text-decoration: none;
	color: black;
	font-size: 18px;
}

div.noticias div#noticia1 a:hover, div.noticias div#noticia2 a:hover, div.noticias div#noticia3 a:hover,
div.noticias div#noticia4 a:hover, div.noticias div#noticia5 a:hover, div.noticias div#noticia6 a:hover 
{
	text-decoration: underline;
}

div.noticias div#noticia1 p, div.noticias div#noticia2 p, div.noticias div#noticia3 p,
div.noticias div#noticia4 p, div.noticias div#noticia5 p, div.noticias div#noticia6 p {
	text-indent: 20px;
	margin-top: 20px;
	text-align: justify;
	width: 650px;
	font-size: 14px; 
}

/* Noticias 2 */

div.noticias div#noticia2 {
	border-bottom: 2px solid black;
	background-image: url("../img/noticias/noticia2.jpg");
	background-repeat: no-repeat;
	background-position: left;
	height: 120px;
	padding: 10px 0 10px 270px;
}

/* Noticia 3 (noticia1-construcao) */

div.noticias div#noticia3 {
	border-bottom: 2px solid black;
	background-image: url("../img/noticias/noticia1-construcao.jpg");
	background-repeat: no-repeat;
	background-position: left;
	height: 120px;
	padding: 10px 0 10px 270px;
}

/* Noticia 4 (noticia2-construcao) */

div.noticias div#noticia4 {
	border-bottom: 2px solid black;
	background-image: url("../img/noticias/noticia2-construcao.jpg");
	background-repeat: no-repeat;
	background-position: left;
	height: 120px;
	padding: 10px 0 10px 270px;
}

/* Noticia 5 (noticia5-construcao) */

div.noticias div#noticia5 {
	border-bottom: 2px solid black;
	background-image: url("../img/noticias/noticia3-construcao.jpg");
	background-repeat: no-repeat;
	background-position: left;
	height: 120px;
	padding: 10px 0 10px 270px;
}

/* Noticia 6 (noticia1-construcao) */

div.noticias div#noticia6 {
	border-bottom: 2px solid black;
	background-image: url("../img/noticias/noticia4-construcao.jpg");
	background-repeat: no-repeat;
	background-position: left;
	height: 120px;
	padding: 10px 0 10px 270px;
}

/* ^^^^^^^^^^ */




/* Página "Secretarias" */
section.conteudo-secretarias {
	padding: 4px;
	position: relative;	
}

section.conteudo-secretarias h1 {
	border: 2px solid black;
	border-radius: 10px;
	background-color: #aa0000;
	color: white;
	padding: 6px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 10px;
}

div.secretarias {
	display: block;
	padding: 6px 4px 0 4px;
	width: 900px;
	margin: 10px auto;
	text-align: center;
}

div.secretarias div#secretaria1, div.secretarias div#secretaria2, div.secretarias div#secretaria3,
div.secretarias div#secretaria4, div.secretarias div#secretaria5, div.secretarias div#secretaria6,
div.secretarias div#secretaria7, div.secretarias div#secretaria8, div.secretarias div#secretaria9, 
div.secretarias div#secretaria10 {
	border: 2px solid black;
	border-radius: 10px; 
	display: inline-block;
	background-color: #aa0000;
	color: white; /* Afetando somente o numero */
	text-align: center;
	margin: 10px 100px 10px 100px;
	padding: 16px;
	width: 200px;
	/*position: absolute;
	right: 4px;*/ 
}

div.secretarias a {
	display: block;	
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 6px;
}

div.secretarias a:hover {
	text-decoration: underline;
}


/* ^^^^^^^^^^ */




/* Página "Fotos" */
section.conteudo-fotos {
	
}


/* ^^^^^^^^^^ */





/* Página "mapa" */
section.conteudo-mapa {
	padding: 4px;
	position: relative;
}

section.conteudo-mapa h1 {
	border: 2px solid black;
	border-radius: 10px;
	background-color: #aa0000;
	color: white;
	padding: 6px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 2px;
}

div.mapa {
	border: 2px solid black;
	border-radius: 10px;
	display: block;
	padding: 6px 4px 0 4px;
	width: 950px;
	margin: 10px auto;
	text-align: right;
}

div.mapa p {
	border: 2px solid #e0dedf;
	border-radius: 10px;
	display: inline-block;
	width: 250px;
	text-align: justify;
	font-weight: bold;
	background-color: #aa0000;
	color: white;
	padding: 8px;
	font-size: 16px;
	position: absolute;
	top: 58px;
	left: 38px;
}


/* ^^^^^^^^^^ */





/* Página "Contao" */
section.conteudo-contato {
	padding: 4px;
	position: relative;
}

section.conteudo-contato h1 {
	border: 2px solid black;
	border-radius: 10px;
	background-color: #aa0000;
	color: white;
	padding: 6px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 2px;
}


/* ^^^^^^^^^^ */





/* Página "NOTICIA1.HTML" */
section.conteudo-noticia1 {
	padding: 4px;
	position: relative;
}

section.conteudo-noticia1 h1 {
	text-align: center;
	font-size: 20px;
}

section.conteudo-noticia1 img{
	margin: 15px 0 4px 200px;
}

section.conteudo-noticia1 div p#para1, section.conteudo-noticia1 div p#para2, 
section.conteudo-noticia1 div p#para3 {
	text-align: justify;
	font-size: 16px;
	text-indent: 20px;
	padding: 8px 80px 8px 80px;	
}


/* GG */


/* Página "NOTICIA2.HTML" */
section.conteudo-noticia2 {
	padding: 4px;
	position: relative;
}

section.conteudo-noticia2 h1 {
	text-align: center;
	font-size: 20px;
}

section.conteudo-noticia2 img{
	margin: 15px 0 4px 200px;
}

section.conteudo-noticia2 div p#para1, section.conteudo-noticia2 div p#para2, 
section.conteudo-noticia2 div p#para3, section.conteudo-noticia2 div p#para4 {
	text-align: justify;
	font-size: 16px;
	text-indent: 20px;
	padding: 8px 80px 8px 80px;	
}	


/* GG */





/* Página "Em Construção" */
section.conteudo-em-construcao {
	height: 455px;
	background-image: url("../img/em-construcao/em-construcao.jpg");
	background-repeat: no-repeat;
}
/* ^^^^^^^^ */




/* Footer(Rodapé da página) */

footer {
	border: 5px solid #b0b0b0;
	border-radius: 10px;
}

footer section.first {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	height: 104px;
	padding: 4px;
	background-color: #aa0000;
	position: relative; 
}
 /* Divs dentro do primira section da footer */
footer section.first div.footer-logo {
	border: 2px solid #b0b0b0;
	border-radius: 10px;
	display: inline-block;
	background-image: url("../img/footer-logo.jpg");
	background-repeat: no-repeat;
	background-position: left;
	width: 90px;
	height: 100px;
}

footer section.first div.desc-mauriti {
	/*border: 2px solid black; /* ilusrativo */
	display: inline-block;
	width: 500px;
	height: 100px;
	position: absolute;
	left: 150px;
	margin: 4px 0 4px 0;	
}

footer section.first div.desc-mauriti h1{
	/*border: 2px solid black; /* ilustrativo */
	margin-top: 6px;
	margin-bottom: 6px;
	font-size: 20px;
	color: white;
}

footer section.first div.desc-mauriti p{
	/*border: 2px solid black; /* ilustrativo */
	margin-bottom: 2px;
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-align: justify;
}

/* Tudo relacionado a div da classe Social */

footer section.first div.social {
	border: 2px solid #b0b0b0;
	border-radius: 10px;
	background-color: white;
	display: inline-block;
	width: 270px;
	height: 96px;
	position: absolute;
	left: 730px;
	padding: 2px;
}

footer section.first div.social h2 {
	/*border: 2px solid black; /* ilustrativo */
	margin: 2px 0 4px 2px;
	font-size: 16px;
	color: #aa0000;
}	

footer section.first div.social div#phone {
	/*border: 2px solid black; /* ilustrativo */
	display: inline-block;
	background-image: url("../img/phone.png");
	background-repeat: no-repeat;
	background-position: left;
	padding: 4px 0 4px 22px;
	margin: 2px 0 1px 2px;
	font-weight: bold;
}

footer section.first div.social div#email {
	/*border: 2px solid black; /* ilustrativo */
	display: inline-block;
	background-image: url("../img/email.png");
	background-repeat: no-repeat;
	background-position: left;
	padding: 4px 0 4px 22px;
	margin: 2px 0 1px 2px;
	font-weight: bold;
}

footer section.first div.social div#address {
	/*border: 2px solid black; /* ilustrativo */
	display: inline-block;
	background-image: url("../img/address.png");
	background-repeat: no-repeat;
	background-position: left;
	padding: 4px 0 4px 22px;
	margin: 2px 0 1px 2px;
	font-weight: bold;
}
/* ^^^^^^^^^^^^ */

/* Tudo corespondente a segunda section da footer */

footer section.second {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	height: 16px;
	text-align: center;
	font-size: 10px;
	padding: 8px 0 4px 0;
	background-color: #820000;
	color: white;
}